<div fxLayoutAlign="center center" fxFlexFill class="main-div container">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Login Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
  
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
  
      </form>
      <button mat-raised-button type="submit" class="login-form" >Login</button>
    </mat-card>
  </div>

  